APScheduler==3.9.1
bitarray==2.4.0
chardet==5.0.0
cpca==0.5.5
Django==3.0
lxml==4.8.0
mmh3==3.0.0
numpy==1.22.2
PyMySQL==1.0.2
python_scrapyd_api==2.1.2
redis==4.1.4
requests==2.27.1
Scrapy==2.5.1
scrapy_redis==0.7.2
scrapyd_api==0.0.1
setuptools==57.4.0
six==1.16.0
SQLAlchemy==1.4.31
